.events .box {
  padding: 30px;
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  height: 100%;
}

.events .box img {
  padding: 30px 50px;
  transition: 0.5s;
  transform: scale(1.1);
}

.events .box h3 {
  font-size: 24px;
  color: #012970;
  font-weight: 700;
  margin-bottom: 18px;
}

.events .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.events .box:hover img {
  transform: scale(1);
}

/* .events .btn-read-more {
  line-height: 0;
  padding: 10px 10px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}

.events .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.events .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.events .btn-read-more:hover i {
  transform: translateX(5px);
} */